<% if user_signed_in? %>
    <ul>
        <% @users.each do |user| %>
             <% if user.id != current_user.id && friend_checker(user.id)%>
                <li>
                <%= image_tag("images.png", class:"rounded-circle",height:"35") %> 
                <%= link_to user.name, user_path(id:user.id) %>
                <%= link_to image_tag("f6bbced354652478430f121f13ca48b8.png", class:"rounded-circle",height:"35"), notifications_path(id: user.id), method: :post %>
                </li>
                <br>
            <%end%>
        <%end%>
    </ul>
    <%= paginate @users%>
<% end%>

