<% if user_signed_in? %>
    <ul>
        <% @friends.each do |friend|%>
            <% if current_user.id != friend.user_id %> 
                <li>
                <%= image_tag("images.png",
                class:"rounded-circle",height:"35") %> 
                <%= link_to friend.user.name , static_page_show_path(id: friend.user_id) %> <br>
                <%= link_to "un-friend", friend_path(friend.id), method: :delete, class:"btn btn-danger btn-sm"%>
                <% @friend_count += 1 %>
                </li>
            <%end%> 
                <br>
        <%end%>
        <h5> Total Friends <%= @friend_count %></h5>
    </ul>
<% else %>
    <% redirect_to new_user_session_path%>
<% end%>

