<h3>From <%= current_user.name %></h3>
<%= form_with(model: @post, local: true) do |f|%>
  <%= f.text_area :content , placeholder:"write here.." %> <br>

  <%= f.submit "create post", class:"btn btn-primary"%>
<%end%>